In [1]:
import pandas as pd
import numpy as np
import matplotlib as mat
import seaborn as sns

In [4]:
dataset = pd.read_csv("Housing.csv")
dataset.sample(6)

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
134,5803000,7000,3,1,1,yes,no,yes,no,no,2,yes,semi-furnished
327,3990000,6480,3,1,2,no,no,no,no,yes,1,no,semi-furnished
106,6160000,5450,4,2,1,yes,no,yes,no,yes,0,yes,semi-furnished
386,3535000,3850,3,1,1,yes,no,no,no,no,2,no,unfurnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished
421,3360000,4750,2,1,1,yes,no,no,no,no,0,no,unfurnished

In [5]:
dataset.isnull().sum()

price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64