In [74]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [75]:
dataset = pd.read_csv("Financial-Sample.csv")
dataset.sample(4)

,Segment,Country,Product,DiscountBand,Units,Manufacturing,SalePrice,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
389,Government,Germany,VTT,Medium,"$ 2,338.00",$ 250.00,$ 7.00,"$ 16,366.00","$ 1,309.28","$ 15,056.72","$ 11,690.00","$ 3,366.72",6/1/2014,6,June,2014
338,Small Business,Germany,Paseo,Medium,"$ 1,123.00",$ 10.00,$ 300.00,"$ 336,900.00","$ 23,583.00","$ 313,317.00","$ 280,750.00","$ 32,567.00",9/1/2013,9,September,2013
422,Midmarket,Mexico,Velo,Medium,$ 245.00,$ 120.00,$ 15.00,"$ 3,675.00",$ 330.75,"$ 3,344.25","$ 2,450.00",$ 894.25,5/1/2014,5,May,2014
532,Enterprise,Mexico,Amarilla,High,$ 947.00,$ 260.00,$ 125.00,"$ 118,375.00",NaN,"$ 105,353.75",NaN,"$ (8,286.25)",9/1/2013,9,September,2013

In [76]:
dataset.isnull().sum()

Segment           0
Country           0
Product           0
DiscountBand     53
Units            30
Manufacturing    16
SalePrice        11
Gross Sales      22
Discounts         9
Sales            20
COGS             11
Profit           16
Date              0
Month Number      0
Month Name        0
Year              0
dtype: int64

In [77]:
# dataset["Units"].fillna(dataset["Units"].mode()[0],inplace=True)

In [78]:
dataset.isnull().sum()

Segment           0
Country           0
Product           0
DiscountBand     53
Units            30
Manufacturing    16
SalePrice        11
Gross Sales      22
Discounts         9
Sales            20
COGS             11
Profit           16
Date              0
Month Number      0
Month Name        0
Year              0
dtype: int64

In [79]:
# dataset = dataset.ffill(axis=0)
# dataset

In [80]:
dataset["Units"].mode()[0]

' $ 727.00 '

In [84]:
 dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Segment        700 non-null    object
 1   Country        700 non-null    object
 2   Product        700 non-null    object
 3   DiscountBand   700 non-null    object
 4   Units          700 non-null    object
 5   Manufacturing  700 non-null    object
 6   SalePrice      700 non-null    object
 7   Gross Sales    700 non-null    object
 8   Discounts      700 non-null    object
 9   Sales          700 non-null    object
 10  COGS           700 non-null    object
 11  Profit         700 non-null    object
 12  Date           700 non-null    object
 13  Month Number   700 non-null    int64
 14  Month Name     700 non-null    object
 15  Year           700 non-null    int64
dtypes: int64(2), object(14)
memory usage: 87.6+ KB

In [85]:
for i in dataset.select_dtypes(include="object").columns:
    dataset[i].fillna(dataset[i].mode()[0],inplace=True)

C:\Users\JAYANT SINGH PATEL\AppData\Local\Temp\ipykernel_21824\2262683910.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[i].fillna(dataset[i].mode()[0],inplace=True)